html{
    font-family: 'Roboto', sans-serif;
    /* font-size: 16px; */
    line-height: 1.5;
    color: #212121;
    background-color: #f5f5f5;
}

body{
    text-align: center;
}

.cat-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.cat-card{
    border: #212121 1px solid;
    border-radius: 5px;
}

.cat-card img{
    height:auto;
    width: 250px;
    border-radius: 5px;
}

.cat-card p{
    font-size: large;
}
